In [32]:
#Sursa: Proiect Diana si Seminare profa

#LUCRUL CU FISIER CSV
#1. Importarea fisierului Actori.csv folosind pachetul pandas
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv('Actori.csv', sep=',',header=0)
print(df)

   Top          Actori     Venit  Varsta  Nr filme
0    1    Yoo Seung Ho  191500.0      26        52
1    2  Park Min Young   92000.0      34        50
2    3   Park Seo Joon  241200.0      31        35
3    4      Lee Jun Ki       NaN      37        25
4    5   Park Jung Min   28000.0      32        20

In [24]:
#2. Folosirea funcției iloc() pentru identificarea numelui actriței
print(df.iloc[1, 1]) #valoarea din rândul 2(pozitia 2), coloana 2(coloana cu numele actorilor)

Park Min Young

In [25]:
#3. Modificarea varstei pentru actrita Park Min Young cu ajutorul funcției loc()
print(df.loc[1, 'Varsta'])
df.loc[1,'Varsta'] = 35
print(df.loc[1, 'Varsta'])

34
35

In [26]:
#4. Ștergere coloanei Nr filme
df = df.drop("Nr filme", axis=1)
print(df.head())

   Top          Actori     Venit  Varsta
0    1    Yoo Seung Ho  191500.0      26
1    2  Park Min Young   92000.0      35
2    3   Park Seo Joon  241200.0      31
3    4      Lee Jun Ki       NaN      37
4    5   Park Jung Min   28000.0      32

In [31]:
#5. Înlocuirea valorii lipsă a venitului cu mesajul Declaratie nerealizata
df=pd.read_csv('Actori.csv', sep=',',header=0, usecols=['Venit'])

# verifică dacă există valori lipsă
print(df['Venit']) 
print(df.loc[df['Venit'].isnull()]) 
print('-'*40)
print(df['Venit'].fillna('Declarație nerealizată'))

0    191500.0
1     92000.0
2    241200.0
3         NaN
4     28000.0
Name: Venit, dtype: float64
   Venit
3    NaN
----------------------------------------
0                    191500
1                     92000
2                    241200
3    Declarație nerealizată
4                     28000
Name: Venit, dtype: object

In [28]:
#6. Stergerea actorului din lista a carui declaratie despre venit lipseste - rand 3
    #Axis 0 reprezinta randurile, iar axis 1 reprezinta coloanele
df = df.drop([3], axis=0)
print(df.head(10))

   Top          Actori     Venit  Varsta
0    1    Yoo Seung Ho  191500.0      26
1    2  Park Min Young   92000.0      35
2    3   Park Seo Joon  241200.0      31
4    5   Park Jung Min   28000.0      32