In [2]:
#Sursa: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html

#GRUPAREA DATELOR SI PRELUCRAREA STATISTICA
#1. Notele acordate de juriul de la Oscar cele doua filme nominalizate la ”cea mai buna distributie”
import pandas as pd
df=pd.DataFrame({'Film':['Parasite','Parasite','Parasite','Parasite','Parasite',
                         'Hwarang','Hwarang','Hwarang','Hwarang','Hwarang'],
                 'Note':[7.2,7.9,9.1,8.5,8.7,8.3,9.5,7.5,7.1,7.2]
    
})
df

       Film  Note
0  Parasite   7.2
1  Parasite   7.9
2  Parasite   9.1
3  Parasite   8.5
4  Parasite   8.7
5   Hwarang   8.3
6   Hwarang   9.5
7   Hwarang   7.5
8   Hwarang   7.1
9   Hwarang   7.2

In [3]:
df.groupby(['Film']).mean()

          Note
Film
Hwarang   7.92
Parasite  8.28