In [27]:
#Sursa: https://datatofish.com/string-to-integer-dataframe/

#CONVERSIA UNUI STRING IN INTEGER
import pandas as pd

Data = {'Actor': ['Park Min Young','Lee Jun Ki'],
         'Pozitie': ['21','25']}

#Convesia din string in int
df = pd.DataFrame(Data)
df['Pozitie'] = df['Pozitie'].astype(int)
print (df)

            Actor  Pozitie
0  Park Min Young       21
1      Lee Jun Ki       25