In [78]:
#CLUSTERIZARE
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

In [79]:
#Citirea din fisierul csv
df=pd.read_csv('Actori2.csv')
df.head()

   Top          Actori     Venit  Varsta  Nr filme  Castigator Nationalitate
0    1    Yoo Seung Ho  191500.0    26.0      52.0           1      Coreeana
1    2  Park Min Young   92000.0    32.0      50.0           0      Coreeana
2    3   Park Seo Joon  241200.0    28.0      35.0           1      Coreeana
3    4      Lee Jun Ki   35000.0    35.0      40.0           1      Coreeana
4    5   Park Jung Min       NaN    32.0      20.0           1      Coreeana

In [80]:
#Identificarea valorilor lipsa ~ Acolo unde e True valoarea lipseste.
print(df.columns.values)
print(df.isna())

#Facem suma valorilor lipsa
print(df.isna().sum())

['Top' 'Actori' 'Venit' 'Varsta' 'Nr filme' 'Castigator' 'Nationalitate']
      Top  Actori  Venit  Varsta  Nr filme  Castigator  Nationalitate
0   False   False  False   False     False       False          False
1   False   False  False   False     False       False          False
2   False   False  False   False     False       False          False
3   False   False  False   False     False       False          False
4   False   False   True   False     False       False          False
5   False   False  False   False     False       False          False
6   False   False  False   False     False       False          False
7   False   False  False   False     False       False          False
8   False   False  False   False     False       False          False
9   False   False  False   False     False       False          False
10  False   False  False    True     False       False          False
11  False   False   True   False     False       False          False
12  False   False  False   False      True       False          False
13  False   False  False   False     False       False          False
14  False   False  False   False     False       False          False
Top              0
Actori           0
Venit            2
Varsta           1
Nr filme         1
Castigator       0
Nationalitate    0
dtype: int64

In [81]:
# Înlocuirea valorilor lipsă cu media coloanei, utilizând fillna()
df.fillna(df.mean(), inplace=True)
print(df.isna().sum())

Top              0
Actori           0
Venit            0
Varsta           0
Nr filme         0
Castigator       0
Nationalitate    0
dtype: int64

In [82]:
# Evaluarea castigatorilor premiilor Korean Drama Award în funcție de Venit, Varsta si Nr filme
print("*******Venit - Castigator************")
print(df[['Venit', 'Castigator']].groupby(['Venit'], as_index=False).mean().sort_values(by='Castigator', ascending=False))
print('\n')
print("*******Varsta - Castigator************")
print(df[['Varsta', 'Castigator']].groupby(['Varsta'], as_index=False).mean().sort_values(by='Castigator', ascending=False))
print('\n')
print("*******Nr filme - Castigator************")
print(df[["Nr filme","Castigator"]].groupby(['Nr filme'], as_index=False).mean().sort_values(by='Castigator', ascending=False))

*******Venit - Castigator************
            Venit  Castigator
1    25000.000000           1
2    35000.000000           1
3    41376.000000           1
8    79248.000000           1
9    81933.769231           1
12  191500.000000           1
13  241200.000000           1
0    18000.000000           0
4    45612.000000           0
5    65370.000000           0
6    65464.000000           0
7    76535.000000           0
10   88834.000000           0
11   92000.000000           0


*******Varsta - Castigator************
    Varsta  Castigator
0     15.0         1.0
2     27.0         1.0
3     28.0         1.0
5     31.0         1.0
9     35.0         1.0
12    59.0         1.0
1     26.0         0.5
6     32.0         0.5
4     29.0         0.0
7     34.0         0.0
8     34.5         0.0
10    53.0         0.0
11    56.0         0.0


*******Nr filme - Castigator************
     Nr filme  Castigator
0   12.000000         1.0
2   20.000000         1.0
4   27.000000         1.0
5   35.000000         1.0
7   40.000000         1.0
8   44.000000         1.0
10  52.000000         1.0
9   50.000000         0.5
1   19.000000         0.0
3   21.000000         0.0
6   38.642857         0.0
11  55.000000         0.0
12  58.000000         0.0

In [83]:
#Eliminam coloanele non-numerice care nu influențează castigarea premiului, dar si coloana Top
df = df.drop("Actori", axis=1)
df = df.drop("Nationalitate", axis=1)
df=df.drop("Top",axis=1)
df.head()

           Venit  Varsta  Nr filme  Castigator
0  191500.000000    26.0      52.0           1
1   92000.000000    32.0      50.0           0
2  241200.000000    28.0      35.0           1
3   35000.000000    35.0      40.0           1
4   81933.769231    32.0      20.0           1

In [84]:
# Variabila X este un vector (array din pachetul numpy) identic cu setul df,
# din care a fost ștearsă coloana Castigator, iar y este un vector format din coloana Castigator
X = np.array(df.drop(['Castigator'], 1).astype(float))
Y = np.array(df['Castigator'])

In [85]:
#Aplearea metodei Kmeans și setarea parametrului n_clusters = 2
# (castigatori/necastigatori)
kmeans = KMeans(n_clusters=2) 
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [86]:
#Evaluarea rezultatelor:
correct = 0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = kmeans.predict(predict_me)
    print("Estimam ca actorul va fi", prediction[0], "Actorul este", Y[i])
    if prediction[0] == Y[i]:
        correct += 1
        
print('Am estimat corect, in medie:')
print (correct/len(X))

Estimam ca actorul va fi 1 Actorul este 1
Estimam ca actorul va fi 0 Actorul este 0
Estimam ca actorul va fi 1 Actorul este 1
Estimam ca actorul va fi 0 Actorul este 1
Estimam ca actorul va fi 0 Actorul este 1
Estimam ca actorul va fi 0 Actorul este 1
Estimam ca actorul va fi 0 Actorul este 0
Estimam ca actorul va fi 0 Actorul este 1
Estimam ca actorul va fi 0 Actorul este 0
Estimam ca actorul va fi 0 Actorul este 0
Estimam ca actorul va fi 0 Actorul este 0
Estimam ca actorul va fi 0 Actorul este 1
Estimam ca actorul va fi 0 Actorul este 0
Estimam ca actorul va fi 0 Actorul este 1
Estimam ca actorul va fi 0 Actorul este 0
Am estimat corect, in medie:
0.6